<%= form_for @main_form do |f| %>
  <% if @main_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@main_form.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @main_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.select :gender, User.get_genders_dropdown %>
  </div>
  <%= f.fields_for :email, @main_form.email do |email| %>
    <div class="field">
      <%= email.label :address %><br>
      <%= email.text_field :address %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
