<%= form_for @user_form do |f| %>
  <% if @user_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_form.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h2>User details</h2>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.select :gender, User.get_genders_dropdown %>
  </div>

  <h2>Email details</h2>
  <%= f.fields_for :email, @user_form.email do |email| %>
    <div class="field">
      <%= email.label :address %><br>
      <%= email.text_field :address %>
    </div>
  <% end %>

  <h2>Profile details</h2>
  <%= f.fields_for :profile, @user_form.profile do |profile| %>
    <div class="field">
      <%= profile.label :twitter_name %><br>
      <%= profile.text_field :twitter_name %>
    </div>
    <div class="field">
      <%= profile.label :github_name %><br>
      <%= profile.text_field :github_name %>
    </div>
  <% end %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
