<div class="field">
  <%= f.label :name, "Speaker Name" %><br>
  <%= f.text_field :name %>
</div>

<div class="field">
  <%= f.label :occupation %><br>
  <%= f.text_field :occupation %>
</div>

<h2>Presentantions</h2>
<div id="field_collection">
  <%= f.fields_for :presentations, @conference_form.speaker.presentations do |presentations_fields| %>
    <%= render "presentations", :f => presentations_fields %>
  <% end %>
</div>

<%= link_to_add_fields("Add a Presentation", f, :presentations) %>